.default-style{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url('../../../../assets/branding/supernova/SuperBack.png');
    background-size: cover;
    background-color: var(--greyColor);
    
    h1{
        font-family: var(--defaultfont);
        font-size: 70px;
        font-weight: 800;
        opacity: 0.8;
    }
}